<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- <title><%= os.hostname %> (<%= os.type %> <%= os.release %>)</title> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
  <link href="/css/dashboard.css" rel="stylesheet" /> -->
</head>
<body class="">
  <div class="page">
    <div class="page-main">
      <div class="header py-4">
        <div class="container">
          <div class="d-flex">
            <a class="header-brand" href="../src/index.html">
                IRF
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>
</html>